* {
  box-sizing: border-box;
}body {
  font-family: "Poppins", sans-serif;
  margin: 100px 50px 0 50px;
  background-color: #faf9f6;
  display: flex;
  flex-direction: column;
  min-height: 9vh;
}
.main {
  flex: 1;
}
.tile-image{
  height: 200px;
  float: left;
  margin-right: 50px;
  object-fit: cover;
}
.card{
  width: 45%;
  box-shadow: 0 2px 10px rgba(209, 198, 96, 0.5);
  transition:  0.3s ease;
}
.left{
 float: left;
}
.right{
  float: right;
}
.creative{
  color: rgb(202, 70, 33);
}
.container{
  display: flex;
  position: absolute;
  top: 10px;
  left: 15%;
  right:15%;
  border-radius: 10px;
  border:solid 1px rgb(190, 180, 141);
  background-color: rgb(239, 223, 198);
  justify-content: center;
  gap: 100px;
}
h4:hover {
    background-color: rgb(55, 50, 47);
    color: rgb(253, 253, 253);
    border-radius: 50px;
    height: 30px;
    width: 150px;
    text-align: center;
}

h1 {
  font-size: 5rem;
  display: block;
  width: 100%;
text-align: center;
}

footer {
  text-align: right;
  color: midnightblue;
}
.container>a{
  text-decoration:none;
  color:rgb(112, 57, 13);
}
@media (max-width: 880px) {
  
  body{

     overflow-x: hidden;
     margin: 100px 10px 0 10px;
  }
   .logo {
    width: 100px;
    margin-top: 10px;
  }
.card{
  width: 100%;
  display: block;
  margin-bottom: 30px;
}
h1 {
  font-size: 2rem;
  display: block;
  width: 100%;
  text-align: center;
}
.card img {
    margin-bottom: 10px;
    width: 100%;
    display: inline;
    object-fit: cover;
  }
  .container{
  left: 15%;
  right: 0;
  width: 70%;
  gap: 26px;
}
h4:hover {
    background-color: rgb(55, 50, 47);
    color: rgb(253, 253, 253);
    border-radius: 50px;
    height: 30px;
    width: 150px;
    text-align: center;
}
}

